header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #007bff;
  color: #ffffff;
  width: 100%;
  height: 50px; /* Set the height to half of the default */
}

.header-title {
  font-size: 24px;
  margin: 0;
}

.login-button {
  background-color: #ffffff;
  color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #e6e6e6;
}

.login-button:focus {
  outline: none;
}

.login-button:active {
  background-color: #cccccc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.content {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

h1 {
  font-size: 24px;
  margin-bottom: 8px;
  background-color: #007bff;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
}

p {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.5;
  color: #333333;
}

hr {
  margin: 24px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.writing-area {
  width: 100%;
  min-height: 30px;
  margin-bottom: 16px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  resize: none;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.writing-area:focus {
  border-color: #007bff;
}

.text-area {
  width: 100%;
  min-height: 300px;
  resize: none;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
}

p:last-child {
  font-size: 12px;
  margin-top: 16px;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
  }

  .header-title {
    font-size: 18px;
  }

  .header-button {
    font-size: 16px;
  }
}
